# Ignore .DS_Store files
.DS_Store

# Ignore cache directory
.cache/

# Ignore compile_commands.json
compile_commands.json

# Ignore ImGui configuration
imgui.ini

# Ignore macOS .dSYM directories
my_project.dSYM/

# Ignore .DS_Store files in resources and src directories
resources/.DS_Store
src/.DS_Store

